<div class="bg-primary text-gray-100 p-3 flex justify-content-between lg:justify-content-center align-items-center flex-wrap mb-5">
    <div class="font-bold mr-8"> Doktor Nöbet Listesi</div>
    
    <!-- <a class="flex align-items-center ml-2 mr-8">
        <a class="text-white" href="https://github.com/merrvve" target="_blank"><span class="underline font-bold">Hakkımızda</span></a>
    </a>
     -->
</div>

<div class="card flex-1 justify-content-center">
    <p-stepper>
        <p-stepperPanel header="Nöbetçi Sayıları">
            <ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index">
                <div class="flex flex-column">
                    <div class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex font-small">
                        <div class="flex-initial">
                            <div class="flex flex-column">
                                @for (doktor of doctorTypes; track doktor) {
                                    <p-toggleButton [(ngModel)]="doktor.checked" [onLabel]="doktor.name" [offLabel]="doktor.name" onIcon="pi pi-check" offIcon="pi pi-times"
                                      class="m-2" (click)="checked=true;"></p-toggleButton>
                                }
                            </div>
                            
                        </div>
                        
                        <div class="flex-initial">
                            @if(checked) {
                                <table class="m-5">
                                    <thead class="w-100">
                                        <tr>
                                            <th></th>
                                            <th>Toplam Sayı</th>
                                            <th>Bir günde nöbetçi olması gereken kişi sayısı</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (doktor of doctorTypes; track doktor)  {
                                            @if(doktor.checked) {
                                                <tr>
                                                    <td>{{doktor.name}}</td>
                                                    <td>
                                                        <p-inputNumber class="m-1" [(ngModel)]="doktor.total" inputId="integeronly" [showButtons]="true"></p-inputNumber>
                                                    
                                                    </td>
                                                    <td><p-inputNumber class="m-1"  [(ngModel)]="doktor.numberForOneDay" inputId="integeronly" [showButtons]="true"></p-inputNumber></td>
                                                </tr>
                                            }
                                        }
    
                                    </tbody>
                                </table>
    
                            }

                        </div>
                        
                    </div>
                </div>
                <div class="flex justify-content-end mt-3">
                    <p-button label="İleri" icon="pi pi-arrow-right" iconPos="right" (onClick)="nextCallback.emit(); setPersons();" />
                </div>
        </ng-template>
        </p-stepperPanel>
        <p-stepperPanel header="Nöbet Dönemi">
            <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback" let-index="index">
                <div class="flex flex-column">
                    <div class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">
                        <p-calendar [inline]="true" [monthNavigator]="true" [yearNavigator]="true" class="p-3"
                        [(ngModel)]="date" view="month" dateFormat="mm/yy"
                        
                        [showButtonBar]="true" [showWeek]="false" [numberOfMonths]="1" [locale]="tr"
             [readonlyInput]="true" [showIcon]="false" (click)="datePick()">
</p-calendar>
                        
                    </div>
                </div>
                <div class="flex pt-4 justify-content-between">
                    <p-button label="Back" icon="pi pi-arrow-left" (onClick)="prevCallback.emit()" />
                    <p-button label="Next" icon="pi pi-arrow-right" iconPos="right" (onClick)="nextCallback.emit()" />
                </div>
                </ng-template>
        </p-stepperPanel>
        <p-stepperPanel header="Sınırlama ve İsimlendirme">
            <ng-template pTemplate="content" let-prevCallback="prevCallback" let-index="index"  let-nextCallback="nextCallback">
                <div class="flex flex-column">
                    <div class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">
                        <div class="flex-initial">
                            <table class="m-5">
                                <thead class="w-100">
                                    <tr>
                                        <th>Çalışan Adı</th>
                                        <th>Müsait olmadığı günler</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (persons of personsList; track persons)  {
                                        @for(person of persons; track person) {
                                            <tr>
                                                <td>
                                                    <input type="text" pInputText [(ngModel)]="person.name" class="m-2"/>
                                                </td>
                                                <td>
                                                    <p-chips [(ngModel)]="person.notPossible" separator="," placeholder="Virgülle ayırınız: 1, 12, .." class="m-2"></p-chips>
                                                </td>
                                            </tr>
                                        }
                                        
                                    }

                                </tbody>
                            </table>

                        </div>

                    </div>
                </div>
                <div class="flex pt-4 justify-content-between">
                    <p-button label="Back" icon="pi pi-arrow-left" (onClick)="prevCallback.emit()" />
                    <p-button label="Hesapla" icon="pi pi-check" iconPos="left" severity="success" (onClick)="nextCallback.emit(); hesapla();" />
                </div>
                
                </ng-template>
        </p-stepperPanel>
        <p-stepperPanel header="Sonuç">
            <ng-template pTemplate="content" let-prevCallback="prevCallback" let-index="index">
                <div class="flex flex-column">
                    <div class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center font-medium p-3">
                        <div class="flex-1">
                            @for(days of dayslist; track days; let idx = $index) {
                                    @if(idx!=0) {
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>Gün</th>
                                                    <th>Nöbetçi</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                   @for(day of days; track day.dayNo) {
                                                        <tr>
                                                            <td [ngClass]="{'font-bold' : day.isHoliday}">{{day.dayNo}}</td>
                                                            @if(day.workingPersonIds.length>0) {

                                                                <td (click)="showPerson(day.workingPersonIds[0]-1)" class="cursor-pointer">
                                                                    {{personsList[idx][day.workingPersonIds[0]].name}}</td>
                                                            }
                                                            @else {
                                                                <td></td>
                                                            }
                                                           
                                                        </tr>
                                                    }
                                                                                   
                                            </tbody>
                                        </table>
            
                                    }
                        }
                        </div>
                        <div class="flex-1">
                            @for(persons of personsList; track persons) {
                                <div class="mb-5">
                                    @for (person of persons; track person.personId) {
                                        <div>
                                            <span class="font-bold">Adı:</span> {{person.name}}
                                        </div><div>
                                            <span class="font-bold"> Nöbet sayısı </span>{{person.shiftDays.length}} 
                                            <span class="font-bold"> haftaiçi,</span> {{person.holidayShiftDays.length}} 
                                            <span class="font-bold"> haftasonu</span> 
                                        </div>
                                        <div><span class="font-bold"> Haftaiçi Nöbet günleri:</span>  {{person.shiftDays}}</div>
                                        <div><span class="font-bold"> Haftasonu Nöbet günleri:</span>  {{person.holidayShiftDays}}</div>
                                        <div class="mb-3"><span class="font-bold"> Müsait olmadığı günler:</span>  {{person.notPossible}}</div>
                                    }
                                    </div>
                            }
                            
                        </div>
                        <div class="flex-1">
                            @if(selectedPerson) {
                                {{selectedPerson.shiftDays}}  
                                {{selectedPerson.holidayShiftDays}}
                            }
                        </div>
                    </div>
                </div>
                <div class="flex pt-4 justify-content-between">
                    <p-button label="Back" icon="pi pi-arrow-left" (onClick)="prevCallback.emit()" />
                    <p-button label="Yeniden Hesapla" severity="primary" icon="pi pi-refresh" (click)="hesapla()" />
                    <p-button label="Yazdır" severity="success" icon="pi pi-print" />
                </div>
                </ng-template>
        </p-stepperPanel>
    </p-stepper>
</div>

