<div class="container mb-5">
    <p>Nöbetçi tipleri: 
    @for (doktor of doctorTypes; track doktor) {
        <p-toggleButton [(ngModel)]="doktor.checked" [onLabel]="doktor.name" [offLabel]="doktor.name" onIcon="pi pi-check" offIcon="pi pi-times"
          class="m-2"></p-toggleButton>
    }
    </p>
    <p>Doktor sayısı:</p>
    <div class="flex flex-row gap-2 p-2">
        <ul>
        @for (doktor of doctorTypes; track doktor)  {
                @if(doktor.checked) {
                    <li>
                    Mevcut doktor sayısı: 
                    {{doktor.name}} 
                    <p-inputNumber [(ngModel)]="doktor.numberForOneDay" [showButtons]="true" buttonLayout="horizontal" 
                    inputId="horizontal" spinnerMode="horizontal" [step]="1" class="m-2 w-25"
            decrementButtonClass="p-button-danger" incrementButtonClass="p-button-success" 
            incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus"></p-inputNumber>
        </li><li>
            Bir günde nöbetçi olması gereken doktor sayısı:
            <p-inputNumber [(ngModel)]="doktor.numberForOneDay" [showButtons]="true" buttonLayout="horizontal" class="m-2 w-25"
            inputId="horizontal" spinnerMode="horizontal" [step]="1"
        decrementButtonClass="p-button-danger" incrementButtonClass="p-button-success" 
        incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus"></p-inputNumber>
    </li>
                }
            }
        
    </ul>
          
    </div>
    
    <p>Nöbet çizelgesi tarihi: </p>
    <p>Müsait olunmayan günler: </p>
    <p>Özellikle istenen günler: </p>
    
</div>


<p-button label="Submit" severity="success" (click)="createShift()"></p-button>

<div class="container">
    @for (day of days; track day) {
        <p>
            Day: 
        {{day.dayNo}}
         Person: {{day.workingPersonIds}}

         Holidat: {{day.isHoliday}}
        </p>
       
    }
</div>